/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*Reset Codes*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* style */

html {
  background-image: -webkit-linear-gradient(-45deg, #00A6AB, #009E81);
  background-image: -moz-linear-gradient(-45deg, #00A6AB, #009E81);
  background-image: -o-linear-gradient(-45deg, #00A6AB, #009E81);
  background-image: linear-gradient(-45deg, #00A6AB, #009E81);
  height: 100%;
}
body {
  color: #E7F7F5;
  font-family: 'Helvetica Neue', 'Arial';
  font-weight: 100;
  font-size: 22px;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

header{
  margin: 100px 0 30px 0;
  text-align: center;
  font-size: 2em;
}

.game-board{
  text-align: center;
}

.request{
  padding: 10px;
}

.hint{
  margin-top: 10px;
}

input[type=text]{
  background: none;
  color: white;
  text-align: center;
  width: 160px;
  height: 160px;
  margin: 10px auto;
  font-size: 4em;
  font-weight: 700;
  border: solid 6px white;
  border-radius: 50%;
  padding: 30px;
}

::-webkit-input-placeholder {
   color: white;
   opacity: 0.8;
}

:-moz-placeholder {
   color: white;  
   opacity: 0.8;
}

::-moz-placeholder { 
   color: white; 
   opacity: 0.8; 
}

:-ms-input-placeholder {  
   color: white;  
   opacity: 0.8;
}

input[type=text]:focus{
  outline: none;
}

input[type=button]{
  margin-top: 20px;
  width: 140px;
  font-size: 1em;
  border-radius: 2px;
  border: 1px solid #DF4541;
  background: #DF4541;
  color: #E7F7F5;
  font-family: 'Helvetica Neue', 'Arial';
  padding: 1px 0;
  font-weight: 100;
}

input[type=button].submit{
  font-weight: 200;
}

input[type=button]:active{
  -webkit-box-shadow: inset 2px 2px 1px #DE0802;
  -moz-box-shadow: inset 2px 2px 1px #DE0802;
  box-shadow: inset 2px 2px 1px #DE0802;
}

@media only screen 
and (min-width : 200px) 
and (max-width : 499px)   {

header{
  margin-top: 25px;
}


}
